.Sunday {
   
    color:rgb(202, 48, 48);
}
  
.Monday {
    color:green;
}
.Tuesday {
   
    color:orange;
}
  
.Wednesday {
    color:yellow;
}
.Thursday {
   
    color:black;
}
.Friday {
   
    color:blue;
}
.Saturday {
   
    color:rgb(241, 7, 7);
}
  
