body{
    background:#d8e5f1;
}
.tempBackground{
  background:#d8e5f1;
}
.forBackground {
   
    background:#337ab7;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.w3-input {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #a69f9f;
    width:100%;
}
.forMargin {
    margin:0 auto;
}
.forArea {
    width:250px; 
    height:500px; 
}
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 140px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.img_container {
    text-align: center;
    height:100px;
}
.image {
    height: auto;
    position: relative;
    background-color: #337ab7;
    float: right;
  }
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.forText {
    text-align: center;
    padding-top: 10px;
    color: #174ea6;
    font-size: 13px;
}
.forHeading {
    text-align: center;
    padding: 20px;
    color: #174ea6;
}
.contact-create-btn{
  border-radius: 15px;
  height: 40px;
  background: #0d6efd;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: none;
}
.side-profile {
  background-color: rgb(237 237 235);
  height:300px;
  margin-top: 30px;
}
.profile-section {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 29px;
}
.nameTag {
  text-align: center;
  color: #174ea6;
  font-size: 30px;
}
.button-18 {
    position: relative;
    display: inline-block;
    padding: 2px 15px;
    text-align: center;
    font-size: 12px;
    letter-spacing: .25px;
    text-decoration: none;
    color: #55b8ff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 30px;
    border: 2px solid #55b8ff;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #55b8ff;
}
   
.button-18:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #55b8ff;
}
   
.button-18:active {
    transform: scale(0.9);
}
.profile-section1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.boxHead{
    background-color: #d9edf7;
    width: 300px;
    padding: 2px 30px 2px 30px;
    text-align: center;
    color: #174ea6;
    margin: 0 auto;
}
.forHr {
    display: inline;
    border-bottom: 3px solid #0d6efd;
    width: 100%; 
}
.classWhite{
    background:#fff;
}
.classMargin{
    margin:7px;
}
.boxForPrint{
  background-color: #fff;
  width: 100%;
  padding: 18px ;
  text-align: center;
  margin: 0 auto;
}
.fa-file-pdf-o{
    color: red!important ;
    float:right!important;
    margin:0px 5px 0px 5px!important;
}
.fa-file-excel-o{
    color: green!important ;
    float:right!important;
    margin:0px 5px 0px 5px!important;
}
.fa-print {
  color: black!important ;
  float:right!important;
  margin:0px 5px 0px 5px!important;
}
.forTableContent{
    background:#fff; 
    margin-top:30px; 
    margin-left: 20px; 
    width:73%;
}




.form-inline a {
  color: #fff !important;
}
.box-section {
  margin-top: 120px;
}
.box-card {
  border-radius: 35px;
}
.text-field {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding-left: 10px;
  width:100%;
  height:70px;
}
.btn-main-page {
  border-radius: 30px;
  background-color: #fff;
  color: #3c98f3;
  border-color: #3c98f3;
}
.table-view{
  background-color: rgb(237 237 235);
  min-height:300px;
  margin-top: 60px;
  height:auto;
  overflow-x: scroll;
}
.social-btn {
  background: none;
  border: none;
}

